<!--
@license Copyright (c) 2018 Brückner. All rights reserved.
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="shared-styles.html">

<dom-module id="b-dialog-campscheduled">
  <template>
    <style  is="custom-style" include="shared-styles">

       paper-card.white {
      --paper-card-header-color: #fff;
      width: 300px;}

      paper-dialog{
        overflow: auto;
        width: 300px;

      }

      paper-dropdown-menu, paper-listbox {
    width: 250px;
  }
  paper-dropdown-menu {
    height: 200px;
    margin: auto;
    display: block;
  }

      .flex-equal-justified {
      @apply --layout-horizontal;
      @apply --layout-justified;

    	}
         
    </style>




    <paper-dialog id="campscheduled">

             <iron-form id="form1">
               <form method="" action="">
                

                            <div class="container flex-equal-justified">
                              
                              <select id="estadobox">
                               <option value="6">desprecinte autorizado</option>
                                <option value="7">Solicite desprecinte usuario operador</option>
                              </select>
                             

                           </div>

                                             
                              

                            <div class="output"></div>

                            <div class="buttons" style="float:right;">
                              <paper-button raised on-click="upd" >Guardar</paper-button>
                              <paper-button dialog-confirm autofocus>Close</paper-button>
                            </div>
                </form>
              </iron-form>

<iron-ajax 
                  id="putService"
                  url="http://localhost:8080/api/notes"
                  content-type="application/json"
                  on-response="handleResponse"
                  method="put">

        </paper-dialog>


        
        

  </template>

      <script>
        class BDialogCampscheduled extends Polymer.Element {
         static get is() { return 'b-dialog-campscheduled'; }
          
         static get properties(){
          return{
             apiEndpoint: {
                    type: String,
                    value: "Hexagon.api_endpoint"
                     },
             campscheduledactive:{notify: true},
             estad:{
                    notify: true}
          };
         }

openCampscheduled(){
  console.log(this.estado);
this.$.campscheduled.open();
}

upd(){
   var estadobox=this.$.estadobox.value;
            

            this.urlLine = "http://localhost:8080/api/notes";
            
            var bodyJson =
                    {
        "id":this.estado,
        "placa": "qwe123",
        "numeroCedula": "1231231",
        "nombre": "joe",
        "empresa": "cargo sa",
        "dataUrl": "/home",
        "estado": estadobox
            };
            
            this.$.putService.body = bodyJson;
            this.$.putService.generateRequest();
            this.$.campscheduled.close();
}
        toggle() {
            var moreInfo = this.$.collapse;
            var iconButton = Polymer.dom(event).localTarget;
            iconButton.icon = moreInfo.opened ? 'add-box'
                                              : 'indeterminate-check-box';
            moreInfo.toggle();
          
          }

        toggle2() {
            var moreInfo = this.$.collapse2;
            var iconButton = Polymer.dom(event).localTarget;
            iconButton.icon = moreInfo.opened ? 'add-box'
                                              : 'indeterminate-check-box';
            moreInfo.toggle();
          }

        toggle3() {
            var moreInfo = this.$.collapse3;
            var iconButton = Polymer.dom(event).localTarget;
            iconButton.icon = moreInfo.opened ? 'add-box'
                                              : 'indeterminate-check-box';
            moreInfo.toggle();
          }

        toggle4() {
            var moreInfo = this.$.collapse4;
            var iconButton = Polymer.dom(event).localTarget;
            iconButton.icon = moreInfo.opened ? 'add-box'
                                              : 'indeterminate-check-box';
            moreInfo.toggle();
          }

        
		};


        window.customElements.define(BDialogCampscheduled.is, BDialogCampscheduled);
      </script>

</dom-module>