<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="b-dialog-campscheduled.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle" on-click='call'>3</div>
      <h1>Validación</h1> 
      <iron-ajax auto
                  id="aidaService"
                  url="http://localhost:8080/api/notes"
                  handle-as="json"
                  on-response="handleResponse"
                  method="get">
    </iron-ajax>

     <iron-ajax  id="stretchlineService" 
                    url="[[urlLine]]" 
                    handle-as="json"            
                    on-response="handleResponseStretchline"
                    content-type="application/json"            
                    method="post">
    </iron-ajax>
    <vaadin-grid aria-label="Sorting Example" items="[[items]]">

      

      <vaadin-grid-column>
        <template class="header">
          <vaadin-grid-sorter path="placa">Placa</vaadin-grid-sorter>
        </template>
        <template>[[item.placa]]</template>
      </vaadin-grid-column>

      <vaadin-grid-column>
        <template class="header">
          <vaadin-grid-sorter path="numeroCedula" direction="asc"></vaadin-grid-sorter>
        </template>
        <template>
        <paper-button id="[[item.id]]" toggles raised class="green" on-click='updat'>OK</paper-button>
        <paper-button id="[[item.id]]" toggles raised class="green" on-click='rechazar'>X</paper-button>
        </template>
      </vaadin-grid-column>
    </vaadin-grid>
    
    </vaadin-grid>

    
    </div>
    <b-dialog-campscheduled id="campscheduled" campscheduledactive="{{campscheduledactive}}" estado="{{estado}}"></b-dialog-campscheduled>
  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }

      static get properties(){
        return{
          properties:{
            campscheduledactive:{
                type: Object,
                reflectToAttribute: true,
                value: false
                },
            estado:{
                type: Number,
                reflectToAttribute: true,
                value: false
                },    
            items:{
              type:String,
              notify:true
            }
          }
        }
      }

      updat(event){
       console.log("Item id=", event.srcElement.id);
       this.estado=event.srcElement.id;
        this.$.campscheduled.openCampscheduled();
      }

      rechazar(event){
        this.urlLine = "http://localhost:8080/api/notes";
            
                      
            var bodyJson =
                    {
        "id":event.srcElement.id,
        "placa": "qwe123",
        "numeroCedula": "1231231",
        "nombre": "joe",
        "empresa": "cargo sa",
        "dataUrl": "/home",
        "estado": 5
            }
            
            this.$.stretchlineService.body = bodyJson;
            this.$.stretchlineService.generateRequest();
      }

      handleResponse(data){
        this.items= data.detail.__data.response;
      }

      call() {

          
            this.$.aidaService.generateRequest();
            
            
      }

    }


    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
