<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/yo-file-uploader/yo-file-uploader.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <iron-ajax 
                  id="aidaService"
                  body='{{postBody}}'
                  url="{{url}}}"
                  content-type="application/json"
                  handle-as="json"
                  on-response="handleResponse"
                  method="post">
    </iron-ajax>

    <div class="card">
      <div class="circle">2</div><h1>Preinscripción en sistema piciz web</h1>
      
      <paper-input id="placa" always-float-label label="Placa" value="{{input.placa}}"></paper-input>
      <paper-input id="carga" always-float-label label="Ingresa carga" ></paper-input>
      <paper-input id="cedula" always-float-label label="Numero de cedula" ></paper-input>
      <paper-input id="nombre" always-float-label label="Nombre de conductor"></paper-input>
      <paper-input id="compania" always-float-label label="Compañia"></paper-input>
      
      <h1></h1>
      <paper-button toggles raised class="green" on-click="save">Guardar</paper-button>
    </div>
  </template>

  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }

      static get properties(){
        return{
          properties:{
            url:{
              type:String,
              notify:true
            },
            postBody: {
              type: String,
            notify:true
            }
          }
        }
      }

      save(){
        this.$.placa.value="";
              this.$.carga.value="";
              this.$.cedula.value="";
             this.$.compania.value="";
            this.$.nombre.value ="";
          
      alert("Preinscripción realizada.");
      }

      handleResponse(e, request) {
  //el parámetro "request" es el iron-request de esta solicitud
  console.log(request.response)
}
    }


    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
