<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/yo-file-uploader/yo-file-uploader.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view4">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <iron-ajax  id="stretchlineService" 
                    url="[[urlLine]]" 
                    handle-as="json"            
                    on-response="handleResponseStretchline"
                    content-type="application/json"            
                    method="post">
    </iron-ajax>

    <div class="card">
      <div class="circle">1</div><h1>Solicitud de servicio</h1>
      
      <paper-input id="placa" always-float-label label="Placa" value="{{input.placa}}"></paper-input>
      <paper-input id="transito" always-float-label label="Transito" ></paper-input>
      <paper-input id="cedula" always-float-label label="Numero de cedula" ></paper-input>
      <paper-input id="nombre" always-float-label label="Nombre de conductor"></paper-input>

      <h4>Adjunto:</h4>
      <yo-file-uploader></yo-file-uploader>
      <h1></h1>
      <paper-button toggles raised class="green" on-click="connectedCallback">Guardar</paper-button>
    </div>
  </template>

  <script>
    class MyView4 extends Polymer.Element {
      static get is() { return 'my-view4'; }

      static get properties(){
        return{
          properties:{
            url:{
              type:String,
              notify:true
            },
            postBody: {
              type: String,
            notify:true
            }
          }
        }
      }

      connectedCallback() {

            super.connectedCallback();

              var placa=this.$.placa.value;
              var transito=this.$.transito.value;
              var cedula=this.$.cedula.value;
              var nombre=this.$.nombre.value;
            

            this.urlLine = "http://localhost:8080/api/notes";
            
            var bodyJson =
                {
                  "placa": placa,
                  "numeroCedula": cedula,
                  "nombre": nombre,
                  "empresa": "cargo sa",
                  "dataUrl": "/home",
                  "estado": 3
                };
            
            this.$.stretchlineService.body = bodyJson;
            this.$.stretchlineService.generateRequest();
            
            this.$.placa.value="";
              this.$.transito.value="";
              this.$.cedula.value="";
             
            this.$.nombre.value ="";
            alert("Solicitud realizada");
      }

      handleResponseStretchline(stretchline) {
           
        }

      save(){
        this.url = 'http://localhost:8080/api/notes';
        this.body = '{"placa": "qwe123","numeroCedula": "1231231","nombre": "joe","empresa": "cargo sa",  "dataUrl": "/home", "estado": 1}';
        this.$.aidaService.body = this.body;
        this.$.aidaService.generateRequest();
      }

      handleResponse(e, request) {
  //el parámetro "request" es el iron-request de esta solicitud
  console.log(request.response)
}
    }


    window.customElements.define(MyView4.is, MyView4);
  </script>
</dom-module>
